<h2><a href="<%= @post.url %>"><%= @post.title %></a></h2>

<%= link_to "Nuke the post", posts_path(id: @post.id), method: :delete %>

<h4><%= pluralize(@post.comments.count, "comment") %></h4>

<% if current_user %>
    <span class="comment-text">Commenting as: <%= current_user.username %> </span>
    <%= form_tag comments_create_path(@post), method: :post do %>
        <div class="comment-field">
            <%= text_area_tag :content %>
        </div>

        <%= submit_tag "Let me be heard!" %>
    <% end %>
<% end %>

  <div class="comment-list">
    <ul>
    <% @comments.each do |comment| %>
      <li>
        <em>Written by: <span class="comment-username"><%= comment.user.username %></span> <%= time_ago_in_words(comment.created_at) %> ago</em>
        <br/>
        <div class="comment-content">
          <%= simple_format(comment.content) %>
        </div>
        <%= link_to "Delete comment", comments_delete_path(post_id: @post.id,comment_id: comment.id), method: :delete %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="comments-nav">
    <%= paginate @comments %>
  </div>

