<h1>Create a new User</h1>

<%= form_tag signup_path, method: :post do %>

    <div class="user-field">
      <%= label_tag "Username: " %>
      <%= text_field_tag :username %>
    </div>

    <div class="user-field">
      <%= label_tag "Email: " %>
      <%= text_field_tag :email %>
    </div>

    <div class="user-field">
      <%= label_tag "Password: " %>
      <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Sign Up!" %>

<% end %>

<%= link_to "Cancel", root_path %>