<%= form_tag(posts_path) do %>
    <h1>Create new post</h1>
	 <div class="post-field">
        <%= label_tag "Title: " %>
        <%= text_field_tag :title %>
    </div>

    <div class="post-field">
        <%= label_tag "URL: " %>
        <%= text_field_tag :url %>
    </div>

    <%= submit_tag "Post" %>
    <p>
	<%= link_to "Nevermind", posts_path %>
	</p>
<% end %>