<!DOCTYPE html>
<html>
<head>
  <title>Regreddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="notice">
  <% if flash[:notice] %>
      <h3><%= flash[:notice] %></h3>
  <% end %>
</div>

<%= yield %>

</body>
</html>
