<!DOCTYPE html>
<html>
<head>
  <title>Regreddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="<%= root_path %>">Regreddit</a>
      <nav>
        <ul class="nav navbar-nav navbar-left">
          <% if current_user %>
            <li><%= link_to "Logoff", login_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Login", login_path %></li>
          <% end %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Post Index", posts_path %></li>
        </ul>
      </nav>
    </div>
</header>

<div class="container">
  <div class="notice">
    <% if flash[:notice] %>
        <h3 class="alert alert-danger"><%= flash[:notice] %></h3>
    <% end %>
    <% if flash[:alert] %>
        <h3 class="alert alert-warning"><%= flash[:alert] %></h3>
    <% end %>
  </div>

  <div class="container">
    <% if current_user %>
        <span class="label label-primary">Logged in: <%= current_user.username %></span>
    <% end %>
    <%= yield %>
  </div>
</div>

</body>
</html>
