<!DOCTYPE html>
<html>
<head>
  <title>Regreddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_path %>">Regreddit</a>
          <%= link_to "Posts", posts_path, class: "navbar-brand" %>
        </div>
        <div class="nav navbar-collapse collapse">
          <div class="navbar-right navbar-brand">
            <% if current_user %>
              <%= link_to current_user.username, posts_show_path(current_user) %> <span class="badge"><%= current_user.posts.count %></span>
              <%= link_to "Logoff", destroy_user_session_path, method: :delete %>
            <% else %>
              Want to join? <%= link_to "Login", new_user_session_path %> or <%= link_to "Sign Up", new_user_registration_path %> in seconds.
            <% end %>
          </div>
        </div>
    </div>
</nav>

<div class="container">
  <div class="notice">
    <% if flash[:errors] %>
        <h4 class="alert alert-danger">
          <% flash[:errors].each do |error| %>
            <%= error %><br>
          <% end %>
        </h4>
    <% end %>
  </div>
  <div class="notice">
    <% if flash[:notice] %>
        <h4 class="alert alert-info"><%= flash[:notice] %></h4>
    <% end %>
    <% if flash[:alert] %>
        <h4 class="alert alert-warning"><%= flash[:alert] %></h4>
    <% end %>
  </div>

  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
